[run]
branch = True
source =
    lms
    users
omit =
    */migrations/*
    */tests/*
    manage.py
    config/asgi.py
    config/wsgi.py
    config/settings.py
    lms/management/commands/add_course_data.py
    users/management/commands/add_payments.py
    users/management/commands/dump_data.py
    users/management/commands/load_fixtures.py
    users/admin.py


[report]
show_missing = True
skip_covered = True